<% @project.comments.each do |comment| %>

  <div class="comment">
   
    </div>
  
      <%= comment.comment %>

      <div class="poster">

      By  <%= commented.user.name %> 

    </div>


    </p>
  </div>
<% end %>