
<div class="well">
  <p> Project: <%= link_to project.title, project_path(project.id)%> <br>
    Description: <%=project.description %> <br>
    Funding goal: <%= project.funding_goal %> <br>
    Time remaining: <%= distance_of_time_in_words_to_now(project.end_date) %></p>
</div>

<div class="button">
  <%#= link_to "Back this project", new_project_pledge_path(project.id), method: :get%>
</div>
